.features-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-subtitle {
    margin-bottom: 8px;
}
.features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}